*memtrace.out.*
*inscount.out*
*pin.log*
*/obj-intel64
*/obj-intel64*
*/obj-intel64/*
*obj-intel64/*
*pintool.log*
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH/d14ccb3e328ab9ba/MEMTRACE.ipch
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH/d14ccb3e328ab9ba
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH/613eb21cba3fe7e7/ALLCACHE.ipch
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH/613eb21cba3fe7e7
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH/25f46143b209d4a5/MEMTRACE.ipch
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH/25f46143b209d4a5
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH/21c5387d9a91851d/INSCOUNT0.ipch
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH/21c5387d9a91851d
/.vs/pin3.21_memtrace/v16/ipch/AutoPCH
/.vs/pin3.21_memtrace/v16/Browse.VC.db
/.vs/pin3.21_memtrace/v16/.suo
/.vs/pin3.21_memtrace/v16
